:root {
  --color_1: #ffffff;
  --background-color_1: #E50914;
}

p.overview {
  max-width: 85%;
  font-size: 21px;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  color: var(--color_1);
  font-weight: bold;
}

p {
  color: var(--color_1);
}

a:hover {
  background-color: var(--background-color_1);
}
